body {
    font-family: poppins, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
  }
  
  textarea {
    width: 100%;
  }
  
  #results {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    background: #f5f5f5;
    border: 1px solid #ccc;
    color: black;
  }
.hightlight {
    background-color: yellow;
    font-weight: bold;
}


